.experience-container {
  padding: 60px;
  background-color: var(--primary-bg); 
  color: var(--primary-text); 
  max-width: 1200px;
  margin: 0 auto; 
}

.section-title {
  text-align: center;
  font-size: 3.5rem;
  color: var(--primary-text);
  margin-bottom: 40px;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--highlight-cyan);
  margin: 10px auto;
  border-radius: 2px;
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center; /* Centraliza os cards */
}

.experience-card {
  background-color: var(--primary-bg);
  border-left: 5px solid var(--highlight-cyan);
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.experience-icon {
  font-size: 6rem;
  margin-right: 20px;
  color: var(--highlight-cyan);
}

.experience-card h3 {
  font-size: 1.4rem;
  color: var(--highlight-cyan);
  margin-bottom: 10px;
}

.experience-card p {
  margin: 0;
  font-size: 1.1rem;
  color: var(--primary-text);
}

/* Ajustes apenas no mobile */
@media (max-width: 768px) {
  .experience-content {
    grid-template-columns: 1fr; /* Um card por linha no mobile */
    padding: 20px; 
    justify-items: center; /* Centraliza os cards no mobile */
  }

  .experience-card {
    padding: 20px 15px;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o conteúdo no mobile */
    flex-direction: column; /* Alinha o conteúdo em coluna no mobile */
    align-items: center; /* Centraliza ícone e texto */
  }

  .experience-icon {
    font-size: 3.5rem; /* Ícone menor no mobile */
    margin-bottom: 10px; /* Espaço abaixo do ícone */
    margin-right: 0; /* Remove o espaçamento lateral no ícone */
  }

  .section-title {
    font-size: 2.5rem;
    text-align: center; /* Garante a centralização no mobile */
    margin-bottom: 15px; /* Reduz a margem no mobile */
  }

  .experience-card h3 {
    font-size: 1.2rem;
  }

  .experience-card p {
    font-size: 1rem;
  }
}
